\#*.*\#
*.*~
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/bookmarks
emacs/.emacs.d/elpa
emacs/.emacs.d/games
emacs/.emacs.d/session.*
emacs/.emacs.d/.emacs.desktop
emacs/.emacs.d/elpy/
*%*%*
emacs/.emacs.d/smex-items